<div class="container">
    <h3>Confirme seu email clicando no link de validação abaixo:</h3>
    <br>
    <a href="{{ absolute_url(path('autenticacao_ativacao', {'hash': hash})) }}"> Clique aqui! </a>
</div>